<div class="app-page container">
    <% for (var i = 0; i < posts.length; i++) { %>
    <div class="fill-white is-rounded is-shadowed p-large mb-default">
        <a href="/blog/<%= posts[i].normalizedUrl %>">
            <h2 class="title-2"><%= posts[i].title %><h2></h2>
        </a>
        <div class="description mb-default"><%= posts[i].description %></div>
        <div class="tags">
            <% for (var ii = 0; ii < posts[i].tags.length; ii++) { %>
            <div class="topic"><%= posts[i].tags[ii] %></div>
            <% } %>
        </div>
    </div>
    <% } %>
</div>

<style>
    .app-page {
        margin-top: 30px;
    }
</style>