<section class="banner">
    <div class="banner-inner">
        <div class="banner-inner-header">
            <h1>Front-end/Back-end Developer</h1>
            <div style="display: flex; flex-direction: row; text-align: center;">
                <h2 id="type-showcase"></h2>
                <h2 id="blinking-cursor" style="display: none;">|</h2>
            </div>
            <br>
            <div>
                <a href="/projects" style="cursor: pointer;" class="btn">Projects</a>
                <a href="/blog" style="cursor: pointer;" class="btn">Blogs</a>
                <a href="https://github.com/NSSure" style="cursor: pointer;" class="btn"><i
                        class="fab fa-github fa-lg"></i></a>
            </div>
            <br>
            <p style="background-color: #F7DF1E; color: #282828; padding: 10px; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); border-radius: 8px;">
                <i class="fa fa-exclamation-triangle"></i>
                <span>This website is a work in progress</span>
            </p>
        </div>
    </div>
</section>

<script>
    var typeShowcase = document.getElementById("type-showcase");
    var blinkingCursor = document.getElementById("blinking-cursor");

    var showcaseText = "Basic project showcase and more...";

    var textIndex = 0;
    var isTypingDone;

    var intervalId = setInterval(function () {
        typeShowcase.innerHTML += showcaseText[textIndex];
        textIndex++;

        if (textIndex >= showcaseText.length) {
            clearInterval(intervalId);
            isTypingDone = true;
        }
    }, 100);

    var isCursor = false;

    setInterval(function () {
        if (isTypingDone) {
            if (!isCursor) {
                blinkingCursor.style.display = '';
                isCursor = true;
            }
            else {
                blinkingCursor.style.display = 'none';
                isCursor = false;
            }
        }
    }, 400);
</script>